/*Logos*/
#logo-menu{
	width: 120px;
	height: 70px;
}

#logo-footer{
	width: 100px;
	margin-left: 1.5%;
}

/*Sonorizacion*/

/*Iluminacion*/

/*Eventos*/
.morado{
	color: #673AB7;
}

.eventos-img{
	width: 100%;
}

.txt-just{
	text-align: justify;
}
/* .pad-img{
	padding: 0%;
} 
.pad-d{
	padding-right: 0% !important;
}

.pad-i{
	padding-left: 0% !important;
}*/

.boton-ev{
	text-decoration: none !important;
	color: black;
	background-color: #efb810;
}

/*Estructuras*/
.icono-des{
	color: #efb810;
	font-size: 4em;
}
.gal-img{
	width: 100%;
	height: 80%;
}
/*TODO*/
.presupuesto{
	border: 1px black solid;
}

.center{
	margin: 20px auto 0 auto;
	display: block;
}



/*Contacto*/
.contacto{
	margin-top: 10%;
}

.card{
	border: none;
}

.img-fluid{
	width: 320px;
	height: 220px;
}

.card-img-top{
	width: 320px;
	height: 220px;
}


.icono-contacto{
	font-size: 2em;
}

/*Footer*/
.footer{
	background-color: #393D42;
}

.min-footer{
	background-color: #393D42;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#copyright{
	color: white;
	margin-top: 10%;
    margin-bottom: 0px;
}

#redes{
	float: right;
}

.icono-footer{
	color: white;
	font-size: 2em;
}

