#logo-menu{
	width: 150px;
	height: 100px;
}

#logo-footer{
	width: 100px;
	height: 55px;
}

#footer{
	background-color: #393D42;
	clear: both;
}

#redes{
	float: left;
}

.card{
	border: none;
}

.img-fluid{
	width: 320px;
	height: 220px;
}
.card-img-top{
	width: 320px;
	height: 220px;
}

